<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="yellow">
<h1>ENTER USER DETAILS</h1>
<form action="variable">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value="Enter Your Name"><br>
  <label for="number">number:</label><br>
  <input type="number" id="number" name="number" value="Enter Your Number"><br><br>
  <label for="pid">Unique Person id:</label><br>
  <input type="number" id="pid" name="pid"><br>
  <label for="movieid">Movie ID:</label><br>
  <input type="number" id="movieid" name="movieid" ><br>
    <label for="mname">Movie Name:</label><br>
  <input type="text" id="mname" name="mname" value="Enter Movie Name"><br>
  <label for="start">Start Time:</label><br>
  <input type="text" id="start" name="start" value="Enter starting time"><br>
  <label for="end">End Time:</label><br>
  <input type="text" id="end" name="end" value="Enter ending time"><br>
    <input type="submit" value="Book">
</form>
</body>
</html>